body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: deepskyblue;
}
canvas{
    border: 1px solid black;
}

